{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{#{% block metas %}#}
{#    <meta name="description" content="用户账号管理，使用django-allauth社交用户系统，支持微博、Github等社交账号登录，加入{{ site_end_title }}，查看更多信息。">#}
{#    <meta name="keywords" content="django-allauth,社交用户系统,OAuth 2.0">#}
{#{% endblock %}#}

{#{% block top-file %}#}
{#<link href="{% static 'blog/css/account.css' %}?v=20171229.01966" rel="stylesheet">#}
{#{% endblock %}#}

{% block head_title%}个人信息修改{% endblock%}

{% block base_content %}
<div class="account">
		<div class="container col-md-6 offset-md-3">
            <div class="account-top heading mb-3">
                 <h3 class="font-weight-bold text-info">Update your profile</h3>
            </div>
        <div class="row ">

                <div class="card rounded-0 px-3 px-lg-4 ">

                    <div class="card-body">
                        <form class="change_profile" method="post" enctype="multipart/form-data"  action="{% url 'account:change_profile'%}">
                            {% csrf_token %}
                            <div class="product-colors" >
                            {{ form|crispy }}
                            </div>
                            <button class=" button-c" type="submit" style="width: 100%">Update</button>
                        </form>
                    </div>
                    <div class="text-center mb-5" id="social-login">
                        <div class="login-title">
                            <hr>
                        <div class="more-link mt-3">
                            <a class=" button-c"  href="{% url 'account:profile' %}">查看资料</a>
                            <a class=" button-c"  href="{% url 'account_change_password' %}">修改密码</a>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>
{% endblock %}



