{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Login{% endblock %}

{% block login %}

	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="{% url 'common:index' %}">Home</a></li>
					<li class="active">Account</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--start-account-->
	<div class="account">
		<div class="container">
			<div class="account-bottom">
				<div class="col-md-6 account-left">
                	<div class="account-top heading">
						<h3>REGISTERED CUSTOMERS</h3>
					</div>
                    <div class="card-body">
                    <div class="address">
					<form class="login" method="POST" action="{% url 'account_login' %}">
                         {% csrf_token %}
                          {{ form|crispy }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
					<div class="address">
						<a class="forgot" href="#">Forgot Your Password?</a>
                        <input type="submit" value="Login" style ="font-size: xx-small">
					</div>
{#                        <form class="login" method="POST" action="{% url 'account_login' %}">#}
{##}
{#                {% if redirect_field_value %}#}
{#                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>#}
{#                {% endif %}#}
{#                <a class="forgot" href="{% url 'account_reset_password' %}">Forgot Password?</a>#}
{#                <button class="pull-right btn btn-info btn-sm rounded-0" type="submit">Sign In</button>#}
                    </form>
                </div>
                </div>
                </div>
				<div class="clearfix"> </div>
			</div>
		</div>
		</div>

	<!--end-account-->


{% endblock %}