{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block user_title %}{% trans "Sign Out" %}{% endblock %}

{% block logout %}
	<!--start-breadcrumbs-->
{#	<div class="breadcrumbs">#}
{#		<div class="container">#}
{#			<div class="breadcrumbs-main">#}
{#				<ol class="breadcrumb">#}
{#					<li><a href="index.html">Home</a></li>#}
{#					<li class="active">Log out</li>#}
{#				</ol>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}

    <!--end-breadcrumbs-->
	<!--start-account-->
<div class="account">
		<div class="container col-md-6 offset-md-3">
{#			<div class="account-bottom">#}
{#				<div class="col-md-6 account-left">#}
					<div class="account-top heading">
                        <h3 class="font-weight-bold text-info">Are you sure you want to sign out?</h3>

					</div>
                    <form class="login" method="POST" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <div class="address">
{#						<a class="forgot" href="#">Forgot Your Password?</a>#}
						<input class="button-c" type="submit" value="Sign out">
					</div>
                    </form>

                </div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>



{% endblock %}
