{% extends 'base.html' %}
{% load crispy_forms_tags %}
{#{% load oauth_tags %}#}
{% load static %}

{% block head_title %}Profile{% endblock %}

{% block base_content %}
    <script>
        function preview_image(event)
        {

         var reader = new FileReader();
         reader.onload = function()
         {
          var output = document.getElementById('output_image');
          output.src = reader.result;
         }
         reader.readAsDataURL(event.target.files[0]);
        }
    </script>
    <div class="account">
        <div class="container  col-md-8 offset-md-2">
<!------ Include the above in your HEAD tag ---------->
            {% comment %} <form  method="post" enctype="multipart/form-data"  action="">
                {% csrf_token %} {% endcomment %}

                <div class="row">
                    <div class="col-md-4" >
                        <form class="change_profile" method="post" enctype="multipart/form-data"  action="{% url 'account:changeavatar'%}">
                            {% csrf_token %}
                            <div class="profile-img "  style="max-width:300px;">
                                <img  src= "../../media/{{ user.avatar }}" alt=""/>
                                <div class="file btn btn-lg btn-primary" data-bs-toggle="modal" href="#ModalToggle" role="button">
                                    Change Photo
                                </div>
                                <!-- Change avatar-->
                                <div class="modal fade" id="ModalToggle" aria-hidden="true" aria-labelledby="ModalToggleLabel" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="ModalToggleLabel">Change Your Photo</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <div class="profile-img "  style="max-width:300px;">
                                                <img id= "output_image" src= "../../media/{{ user.avatar }}" alt=""/>
                                                <div class="file btn btn-lg btn-primary" onchange = "preview_image(event)" role="button">
                                                    Change Photo
                                                    <input type="file" name="avatar">
                                                </div>
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button class="button-c" data-bs-target="#ModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Update</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <!--End Change avatar-->
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                            <div class="profile-header">
                                <h5 class=ml-3>
                                    {{user.first_name}}&nbsp;{{user.last_name}}
                                </h5>
                                <br>
                            </div>
                            <div class="row">
                                <div class="col-md-12 ">
                                            <a href="{% url 'accounts:change_profile' %}">
                                                <input  style= "margin:5px;" class="button-profile"  type="submit"  value="Edit Profile"></a>
                                            <a href="{% url 'accounts:account_change_password' %}">
                                                <input  style= "margin:5px;" class="button-profile" type="submit" value="Change Password"></a>
                                            <a href="{% url 'accounts:account_email' %}">
                                                 <input  style= "margin:5px;" class="button-profile" type="submit" value="Verify Email"></a>
                                </div>    
                            </div>
                    </div>
                </div>


                <div class="row ">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">

                                    <button class="nav-link  memenu skyblue active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" style="color:#8c2830">About</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link memenu skyblue" id="quotation-tab" data-bs-toggle="tab" data-bs-target="#quotation" type="button" role="tab" aria-controls="quotation" aria-selected="false" style="color:#8c2830">Quotations</button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link memenu skyblue" id="order-tab" data-bs-toggle="tab" data-bs-target="#order" type="button" role="tab" aria-controls="messages" aria-selected="false" style="color:#8c2830">Orders</button>                                </li>
                            </ul>

                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="tab-content profile-tab mt-3" id="myTabContent">
                            <!-- Tab 1 for about-->
                            <div class="tab-pane  fade show active" id="home" role="tabpanel" aria-labelledby="profile-home">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.username }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Role</label>
                                            </div>
                                            <div class="col-md-6">
                                                {% if user.is_staff %}
                                                <p>Administrator</p>
                                                {%endif%}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.first_name}}&nbsp;{{user.last_name}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            {% for emailaddress in user.emailaddress_set.all %}
                                                {% if emailaddress.primary or user.emailaddress_set.count == 1 %}
                                                    <li class="list-group-item ml-5 border-0" title="提示：已验证邮箱的用户有更多特权！">
                                                        <span class="font-weight-bold">Email：</span>
                                                        <span>{{ emailaddress.email }}</span>
                                                        {% if emailaddress.verified %}Verified{% else %}Not Verified{% endif %}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}

                                            <div class="col-md-6">
                                                <p>{{user.email}}</p>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.tel}}</p>
                                            </div>
                                    </div>
                                        <div class="row">
                                            <label>address</label>
                                            <div class="card">
                                            <address>
                                              <strong>{{user.first_name}}&nbsp;{{user.last_name}}</strong><br>
                                             {{ user.address }}<br>
                                                {% if  user.address2 %} 
                                                    {{ user.address2 }}<br>
                                                {% endif %}
                                                {{ user.country}}, {{ user.state}} {{ user.zipcode}}<br>
                                              <abbr title="Phone">P:</abbr> {{ user.tel}}<br>
                                              <a href="mailto:#">{{user.email}}</a>
                                            </address>
                                            </div>
                                        </div>

                            </div>
                             <!--End  Tab 1 for about-->
                            <!-- Tab 2 for Quoatation-->
                            <div class="tab-pane fade show" id="quotation" role="tabpanel" aria-labelledby="profile-quotation">
                                        
                                <div class="row"> {# content middle row1 #}
                           
                                    <div class="table-responsive">
    
                                        {% comment %} <form name="RegForm" id="RegForm" method="POST" action="#" {% endcomment %}
    
                                            <table class="table" style="width:100%;border:0px" >
                                                <thead class=" align-items-center" style="width:100%;border:0px;background-color:lightgrey">
                                                <tr style="border:0px">
                                                    <th class="text-center" scope="col" style="width: 15%">Style</th>
                                                    <th class="text-center" scope="col" style="width: 10%">Sleeve</th>
                                                    <th class="text-center" scope="col" style="width: 15%">Size</th>
                                                    <th class="text-center" scope="col" style="width: 10%">Gender</th>
                                                    <th class="text-center" scope="col" style="width: 15%">Color</th>
                                                    <th class="text-center" scope="col" style="width: 15%">Quantity</th>
                                                    <th class="text-center" scope="col" style="width:20%">Special Requirement</th>
                                                </tr>   
                                                </thead>
    
    
                                                <tbody>
    
                                                <form name="RegForm" method="POST" action=""
                                              enctype="multipart/form-data">
                                            {% csrf_token %}
    {#                                                {% for items in newquotation %}#}
                                                {% for items in quotation %}
                                                <tr id="{{ items.quotation_id }}">
                                            
                                                    <td class="text-center" id="sleeve"{{ items.quotation_id }}
                                                        style="max-width: 10%"><img src="../../media/{{  items.req_image }}" class="img-responsive" alt="" style="width:100px"></td>
                                                    
                                                      <td class="text-center" id="sleeve"{{ items.quotation_id }}
                                                        style="max-width: 10%">{{ items.sleeve}}</td>
            
                                                    <td class="text-center" id="size"{{ items.quotation_id }}
                                                        style="max-width: 15%">{{ items.size }}</td>
                                                    <td class="text-center" id="gender"{{ items.quotation_id }}
                                                        style="max-width: 10%"> {{ items.gender }}</td>
                                                    <td class="text-center" style="max-width: 15%">
                                                        <ul class="product-colors">
                                                            <li><a id="color"{{ items.quotation_id }}
                                                                   class= {{ items.color }}><span> </span></a></li>
                                                        </ul>
                                                    </td>
                                                    <td class="text-center" style="max-width: 15%" id="">
    {#                                                    <input#}
    {#                                                        style="overflow:hidden;max-width: 25% " id="qty{{ items.quotation_id }}"#}
    {#                                                        type="number" value=1/>#}
                                                       {{ items.quantity }}
    
                                                    </td>
                                                    <td class="text-center " style="overflow:hidden"
                                                        id="desc"{{ items.quotation_id }} > {{ items.description }}</td>
            
                                                </tr>
                                                {% endfor %}
                                                </form>
                                                </tbody>
                                            </table>
            
                                            {% comment %} <button id="btncart" name="button-c" class="button-c pull-right"
                                                    style="font-size: x-small;" onclick="SveFrm()" type="button">
                                                Add to cart
                                            </button> {% endcomment %}
    
                                            <!-- Modal -->

                                    </div>
                                </div>
                            </div>
                            <!--End  Tab 2 for Quoatation-->

                            <!-- Tab 3 for Order-->
                            <div class="tab-pane fade show" id="order" role="tabpanel" aria-labelledby="profile-order">
                                        
                                <div class="row"> {# content middle row1 #}
                           
                                    <div class="table-responsive" style="overflow-x:hidden;">
    
                                        {% comment %} <form name="RegForm" id="RegForm" method="POST" action="#" {% endcomment %}
    
                                            <table class="table" >
                                                <thead class=" align-items-center mx-auto" style="width:100%;border:0px;background-color:lightgrey">
                                                <tr>
                                                    <th class="text-center" scope="col" style="width: 15%">Style</th>
                                                    <th class="text-center" scope="col" style="width: 10%">Sleeve</th>
                                                    <th class="text-center" scope="col" style="width: 15%">Size</th>
                                                    <th class="text-center" scope="col" style="width: 10%">Gender</th>
                                                    <th class="text-center" scope="col" style="width: 15%">Color</th>
                                                    <th class="text-center" scope="col" style="width: 15%">Quantity</th>
                                                    <th class="text-center" scope="col" style="width:20%">Special Requirement</th>
                                                </tr>
                                                </thead>
    
    
                                                <tbody>
    
                                                <form name="RegForm" method="POST" action=""
                                                            enctype="multipart/form-data">
                                                        {% csrf_token %}
                {#                                                {% for items in newquotation %}#}
                                                            {% for items in ordermaster %}
                                                            <tr id="{{ items.quotation_id }}">
                                                        
                                                                <td class="text-center" id="sleeve"{{ items.quotation_id }}
                                                                    style="max-width: 10%"><img src="../../media/{{  items.req_image }}" class="img-responsive" alt="" style="width:100px"></td>
                                                                
                                                                <td class="text-center" id="sleeve"{{ items.quotation_id }}
                                                                    style="max-width: 10%">{{ items.sleeve}}</td>
                        
                                                                <td class="text-center" id="size"{{ items.quotation_id }}
                                                                    style="max-width: 15%">{{ items.size }}</td>
                                                                <td class="text-center" id="gender"{{ items.quotation_id }}
                                                                    style="max-width: 10%"> {{ items.gender }}</td>
                                                                <td class="text-center" style="max-width: 15%">
                                                                    <ul class="product-colors">
                                                            <li><a id="color"{{ items.quotation_id }}
                                                                   class= {{ items.color }}><span> </span></a></li>
                                                        </ul>
                                                    </td>
                                                    <td class="text-center" style="max-width: 15%" id="">
    {#                                                    <input#}
    {#                                                        style="overflow:hidden;max-width: 25% " id="qty{{ items.quotation_id }}"#}
    {#                                                        type="number" value=1/>#}
                                                       {{ items.quantity }}
    
                                                    </td>
                                                    <td class="text-center " style="overflow:hidden"
                                                        id="desc"{{ items.quotation_id }} > {{ items.description }}</td>
            
                                                </tr>
                                                {% endfor %}
                                                </form>
                                                </tbody>
                                            </table>
            
                                            {% comment %} <button id="btncart" name="button-c" class="button-c pull-right"
                                                    style="font-size: x-small;" onclick="SveFrm()" type="button">
                                                Add to cart
                                            </button> {% endcomment %}
    
                                            <!-- Modal -->

                                    </div>
                                </div>
                            </div>
                            <!--End  Tab 3 for Order-->

                        </div>
                    </div>
                </div>
            {% comment %} </form>            {% endcomment %}
        </div>


{% endblock %}
