{% extends 'base.html' %}
{% load crispy_forms_tags %}
{#{% load oauth_tags %}#}
{% load static %}

{% block head_title %}个人资料{% endblock %}

{% block base_content %}

    <div class="account">
        <div class="container col-md-6 offset-md-3">
            {#			<div class="account-bottom">#}

            <div class=" card-header bg-white py-2">
                <div class="account-top heading mb-3">
                    <h3 class="font-weight-bold text-info">Profile</h3>
                </div>
                <div class="card rounded-0 px-3 px-lg-4 border-1 shadow">
                    <div class="product-colors">
                        {#					<div class="card-body">#}
                        <ul class="list-group">
                            <li class="list-group-item text-center border-0" id="profile-avatar">
                                {#                            {% get_user_avatar_tag user %}#}
                            </li>

                            <li class=" address ">
                                <span class="font-weight-bold">Username：{{ user.username }}</span>
                                {#                            <span>{{ user.is_staff }}</span>#}
                            </li>
                            {% for emailaddress in user.emailaddress_set.all %}
                                {% if emailaddress.primary or user.emailaddress_set.count == 1 %}
                                    <li class="list-group-item ml-5 border-0" title="提示：已验证邮箱的用户有更多特权！">
                                        <span class="font-weight-bold">邮&emsp;箱：</span>
                                        <span>{{ emailaddress.email }}</span>
                                        {% if emailaddress.verified %}已验证{% else %}未验证{% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li class="list-group-item ml-5 border-0">
                                <span class="font-weight-bold">Email：{{ user.email }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="text-center mb-5" id="social-login">
                        <div class="account-top heading mb-3">
                            <hr>
                        </div>

                        <div class="row">
                            <div class="col-md-4"><a href="{% url 'accounts:change_profile' %}"><input class="button-c"
                                                                                                       type="submit"
                                                                                                       value="Edit Profile"></a>
                            </div>
                            <div class="col-md-4"><a href="{% url 'accounts:account_change_password' %}"><input
                                    class="button-c" type="submit" value="Change Password"></a></div>
                            <div class="col-md-4"><a href="{% url 'accounts:account_email' %}"><input class="button-c"
                                                                                                      type="submit"
                                                                                                      value="Verify Email"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}


