{% extends "base.html" %}
{% load crispy_forms_filters %}

{% load static %}
{% load crispy_forms_tags %}
{%  block test %}

    <div class="account">
		<div class="container">
			<div class="account-bottom">
                <div class="col-md-6 account-left">
                    <table id ="example">
    <tbody id = "test">
                    </table>
<button type="button"  class="btn btn-success " id="btnTerminalSvr" onclick="myrefresh()">Test</button>

                </div>
                </div>
                </div>
                </div>



<script type="text/javascript">


    $('#btnTerminalSvr').click (function (){
       $.ajax({
            url:'/json',
            "data":
                {s:"quotation_id"},

            dataType:'json',
            timeout:10000,
            success:function(data){
                alert(data.data.length);
                $('#test').append(
                    "<tr>\n" +
                    "<td>quoation_id</td>\n" +
                    "<td>sleeve</td></tr>"
              );
                for(var i = 0; i < 5; i++) {
                alert(data[i].data[0])
                $('#test').append(
                   "<tr>\n" +
                    "<td>" + data[i].data[0].quotation_id + "</td>\n" +
                    "<td>" + data[i].data[1] +"</td></tr>"
                )
            }
            }

            });


    });

</script>

{#    <script>#}
{#        function myrefresh() {#}
{#            alert("哎呦，没反应！");#}
{#            var str="";#}
{#            for (var i=0; i<5; i++){#}
{#                str+= "<tr><td>"+i+"</td><td>"+i+"</td><td>"+i+"</td><td>"+i+"</td><td>"+i+"</td><td>"+i+"</td></tr>"#}
{#            }#}
{#            alert(str);#}
{#            $("#test").html(str)#}
{#                }#}
{##}
{##}
{#    </script>#}

<hr>
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">Messages</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
    </li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active fade " id="home" role="tabpanel" aria-labelledby="home-tab">1.大沙发都发..</div>
    <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">2.是的发送到发到付..</div>
    <div class="tab-pane fade " id="messages1" role="tabpanel" aria-labelledby="messages-tab">3.天涯热土你不发给你..</div>
    <div class="tab-pane fade " id="settings" role="tabpanel" aria-labelledby="settings-tab">4.不敢不听爸爸..</div>
  </div>
{% endblock %}