{% extends "base.html" %}
{% load static %}
{% block head_title %}Products{% endblock %}
{% block head_style %}
<style>
      #wrapper
{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:995px;
}
#output_image
{
 max-width:300px;
}
    </style>

    {% endblock %}

{% block head_script %}
     <script>
function preview_image(event)
{
 var reader = new FileReader();
 reader.onload = function()
 {
  var output = document.getElementById('output_image');
  output.src = reader.result;
 }
 reader.readAsDataURL(event.target.files[0]);
}
    </script>
{% endblock %}

{% block product_content %}


    <!--bottom-header-->
    <!--start-breadcrumbs-->
{#    <div class="breadcrumbs">#}
{#        <div class="container">#}
{#            <div class="breadcrumbs-main">#}
{#                <ol class="breadcrumb">#}
{#                    <li><a href="{% url 'common:index' %}">Home</a></li>#}
{#                    {% block breadcrumb %}<li class="active">Customize</li>{% endblock %}#}
{#                </ol>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!--end-breadcrumbs-->

    <!--add and select-->
    <div class="account">
        <div class="container">
            <div class="col-lg-8">
                <h1 class="card-title font-weight-bold text-info">Select Your Style</h1>
{#                {% for catelist1 in Category %}#}
{#                {% if forloop.first  %}#}
                    <h1 class="card-title font-weight-bold text-info" style ="display:none">{{ catename }} AA</h1>

                <Hr>
                <!-- 提交文章的表单 -->
{#                <form method="POST" action="{% url 'customize:save' quotationlist.category_name %}" enctype="multipart/form-data">#}
                <form method="POST" action="{% url 'customize:save' catename %}" enctype="multipart/form-data">
                    <!-- Django中需要POST数据的地方都必须有csrf_token -->
                    {% csrf_token %}
                    <div class="row">
                        <!-- 标签 -->

                        <label class ="size text-info">Sleeve:</label>
                        <ul class="product-colors" style="padding-left:30px">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="sleeve-long" value="Long" name="sleeve" checked>
                            <label class="form-check-label" for="sleeve-long"> Long </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="sleeve-short" value="short" name="sleeve">
                            <label class="form-check-label" for="sleeve-short"> Short </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="sleeve-no" value="no" name="sleeve">
                            <label class="form-check-label" for="sleeve-no"> No</label>
                        </div>
                        </ul>
                    </div>
                    <div class="row">
                        <!-- 标签 -->
                        <label class ="size text-info">Color：</label>

                        <ul class="product-colors" style="padding-left:30px">
                            <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="color1" value="color1" name="color" checked>
                            <label class="form-check-label" for="color1">  <li><a class="color1" ><span> </span></a></li> </label>

                        </div>
                            <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="color2" value="color2" name="color">
                            <label class="form-check-label" for="color2"> <li><a class="color2" ><span> </span></a></li> </label>

                        </div>
                            <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="color3" value="color3" name="color">
                            <label class="form-check-label" for="color3"> <li><a class="color3" ><span> </span></a></li> </label>

                        </div>                  
                            <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="color4" value="color4" name="color">
                            <label class="form-check-label" for="color4"> <li><a class="color4" ><span> </span></a></li> </label>

                        </div>                            
                            <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="color5" value="color5" name="color">
                            <label class="form-check-label" for="color5"> <li><a class="color5" ><span> </span></a></li> </label>

                        </div>
                            <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="color6" value="color6" name="color">
                            <label class="form-check-label" for="color6"> <li><a class="color6" ><span> </span></a></li> </label>

                        </div>                            
                            <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="color7" value="color7" name="color">
                            <label class="form-check-label" for="color7"> <li><a class="color7" ><span> </span></a></li> </label>

                        </div>                          
                            <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="color8" value="color8" name="color">
                            <label class="form-check-label" for="color8"> <li><a class="color8" ><span> </span></a></li> </label>

                        </div>

                            <div class="clear"></div>
                        </ul>
                    </div>

                    <div class="row">
                        <!-- 标签 -->
                        <label class ="size text-info">Size：</label>
                        <ul class="product-colors" style="padding-left:30px">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="XS" value="XS" name="size">
                                <label class="form-check-label" for="XS"> XS </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="S" value="S" name="size">
                                <label class="form-check-label" for="S"> S </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="M" value="M" name="size">
                                <label class="form-check-label" for="M"> M </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="L" value="L" name="size">
                                <label class="form-check-label" for="L"> L </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="XL" value="XL" name="size">
                                <label class="form-check-label" for="XL"> XL </label>
                            </div>

                        </ul>

                    </div>

                    <div class="row">
                        <!-- 标签 -->
                         <label class ="size text-info">Gender：</label>
                        <ul class="product-colors" style="padding-left:30px">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="Male" value="Male" name="gender">
                                <label class="form-check-label" for="Male"> Male </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="Female" value="Female" name="gender">
                                <label class="form-check-label" for="Female"> Female </label>
                            </div>
                        </ul>
                    </div>


                    <div class="row">
                        <!-- 标签 -->
                            <label class ="size text-info">Style：</label>
                            <ul class="product-colors" style="padding-left:30px">
                            <!-- 文本框 -->

                                {% for imagelist in catelist %}

                                   <input class="form-check-input" type="radio" id={{ imagelist.style }} name="imagelist" tabindex="0" class="hidden" value={{ imagelist.part_number }}>

                                    <div class="form-check form-check-inline">

                                        <div class="shadow card" style="padding:5px;" id="image">
                                            <label for={{ imagelist.style }}> {{ imagelist.part_number }} </label>
                                            <img src="../../media/{{ imagelist.style }}" style="width:120px;height:80px;" alt="">
                                        </div>
                                    </div>
                                {% endfor %}


                            </ul>
                    </div>

                  <div class="row">
                        <div class="col-md-8" >
                            <!-- 标签 -->
                            <label class ="size text-info">Quantity：</label>
                      <ul class="product-colors" style="padding-left:30px">

                                <!-- 文本框 -->
                                <input class="form-control" type="number" id="quantity" name="quantity" >

                      </ul>
                    </div>
                    </div>

                    <div class="row">
                            <!-- 标签 -->
                        <div class="col-md-8" >
                        <label class ="size text-info">Upload Style or Logo：</label>
                        <ul class="product-colors" style="padding-left:30px">
{#                        <div id="wrapper">#}
                            <input class="form-control form-control-sm"  type="file" id="file" name="images" multiple="multiple"
                                       accept="image/*" aria-describedby="inputGroupFileAddon04" aria-label="Upload"
                                        onchange="preview_image(event)">
                            <img id="output_image" style="padding: 10px"/>
{#                            </div>#}
                        </ul>

                    </div>
                    </div>
                    <div class="row">
                         <div class="col-md-12">
                        <label class ="size text-info">Desciption</label>
                        <ul class="product-colors" style="padding-left:30px">
                            <!-- 标签 -->
                            <textarea class="shadow form-control " type="text" id="body" name="description" rows="8"></textarea>
                        </ul>
                        </div>
                        </div>

                    <br>

                    <div class="address">
                        <input class="button-c" type="submit" value="submit"/>
                    </div>


                </form>
            </div>

            <!--end select-->
{#                {% endif %}#}
{#                {% endfor %}#}
            <div class="clearfix"></div>
        </div>
    </div>
    <!--end-product-->
    <!--start-footer-->
{% endblock %}