{% extends "base.html" %}
{% load static %}

{% block head_title %}Single{% endblock %}

{% block header_part %}

{% endblock %}




<!--top-header-->
{% block main_content %}
    <!--start-breadcrumbs-->
    {% for items in quotationdetail %}
        {% if forloop.first %}
            <!--start-single-->
            <div class="single contact mt-10">
                <div class="container">

                    <div class="single-main">

                        <div class="col-md-10 single-main-left">
                            <div class="sngl-top">
                                <h1 class="card-title font-weight-bold text-info">Quotation:{{ items.quotationid }}</h1>
                                <div class="col-md-5 single-top-left">
                                    <div><img src="{{ items.image }} " style="max-width: 300px"/></div>

                                </div>
                                <div class="col-md-7 single-top-right">
                                    <h2>Part Number: {{ items.partnum }}</h2>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3 "><h2 class="quick " style="font-size: 18px">Sleeve: </h2>
                                            <p class="quick_desc" style="font-size: 16px">
                                                {{ items.sleeve }}
                                            </p></div>
                                        <div class="col-sm-3 "><h2 class="quick" style="font-size: 18px">Size: </h2>
                                            <p class="quick_desc" style="font-size: 16px">
                                                {{ items.size }}
                                            </p></div>
                                        <div class="col-sm-3 "><h2 class="quick" style="font-size: 18px">Gender: </h2>
                                            <p class="quick_desc" style="font-size: 16px">
                                                {{ items.gender }}
                                            </p></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 "><h2 class="quick" style="font-size: 18px">Color: </h2>
                                            <label for={{ items.color }}></label>
                                            <ul class="product-colors">

                                                <li><a class={{ items.color }}><span> </span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 ">
                                            <h2 class="quick" style="font-size: 18px">Style:</h2>
                                            <p class="quick_desc">
                                                {{ items.image }}
                                            </p></div>
                                        <div class="col-sm-3 "></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 ">
                                            <h3 class="quick" style="font-size: 18px">Special Requirement</h3>
                                            <p class="quick_desc" style="font-size: 18px">
                                                {{ items.description }}
                                            </p></div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <hr>
                            </div>
                            <div class="shadow container">
                                <div class="row">
                                    {% for quotfd in quoinprog %}
                                        {% if forloop.first %}
                                            {#feed back#}
                                            <div class="col-sm-4 " >
                                                <div class="address">
                                                    <h2 class="quick " style="font-size: 18px">Feedback Picture: </h2>
                                                    <div class="quick_desc" style="font-size: 16px">
                                                        <img src="{{ quotfd.image }}" style="max-width: 200px">
                                                    </div>
                                                </div>

                                            </div>
                                             <div class="col-sm-8 ">
                                                <div class="address">
                                                    <h2 class="quick " style="font-size: 18px">Feedback Picture: </h2>
                                                    <div class="quick_desc" style="font-size: 16px">
                                                        {{ quotfd.desc_feedback }}
                                                    </div>
                                                </div>

                                            </div>

                                        {% endif %}
                                           {% if forloop.last %}
                                          <h1>new line</h1>
                                        {% endif %}
                                    {% endfor %}

                                            </div> {# end row#}
                                <hr>
                                <div class="in-check">
                                    <ul class="unit">
                                        <li><span>Feedback pic</span></li>
                                        <li><span>Quotation ID</span></li>
                                        <li><span>Product Name</span></li>
                                        <li><span>Create Date</span></li>
                                        <div class="clearfix"></div>
                                    </ul>
                                    {% for quofeedback in quoinprog %}
                                        <ul id="{{ quofeedback.id }}" class="cart-header">
                                            <div id="{{ quofeedback.id }}"></div>
                                            <li><img src="{{ quofeedback.image }}" class="img-responsive" alt=""
                                                     style="width:100px"></a>
                                            </li>
                                            <li><span style="width:40px">{{ quofeedback.quotation_id }}</span></li>
                                            <li><span style="width:40px">{{ quofeedback.desc_feedback }}</span></li>
                                            <li><span style="width:40px">{{ quofeedback.create_date|date:'m-d' }}</span>
                                            </li>
                                            <span style="width:20px"> <a
                                                    href="{% url 'customize:quofeedback_detail' quofeedback.quotation_id %}"
                                                    class="add-cart cart-check"> OPEN</a></span>
                                            {#                        <li><div class=""></div></li>#}

                                            <div class="clearfix"></div>

                                        </ul>

                                    {% endfor %}
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
<!--end-single-->