{% extends "base.html" %}
{% load static %}

{% block head_title %}Quotation List{% endblock %}

{% block quotationlist_content %}

	<!--bottom-header-->
	<!--start-breadcrumbs-->
{#	<div class="breadcrumbs">#}
{#		<div class="container">#}
{#			<div class="breadcrumbs-main">#}
{#				<ol class="breadcrumb">#}
{#					<li><a href="{% url 'common:index' %}">Home</a></li>#}
{#					<li class="active">Checkout</li>#}
{#				</ol>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
	<!--end-breadcrumbs-->
	<!--start-ckeckout-->
	<div class="checkout" >
		<div class="container justify-content-center  align-items-center">
			<div class=" cart-items heading">

            <ul class="nav nav-tabs memenu skyblue">
                  <li class="active">
                      <a href="{% url 'customize:quotationlist' %}">Opened Quotation ({{ quotationlist.count }})</a></li>
                  <li ><a href={%  url 'customize:myquotationlist' %} >My Quotation ({{ myquotationlist.count }})</a></li>
            </ul>
			<div class="check-in  " >
				<ul class="unit text-center" >
                    <li style="width: 20%"><span ></span></li>
					<li style="width: 20% "><span >Quotation ID</span></li>
					<li style="width: 20%"><span>Product Name</span></li>
{#					<li><span>Customer Name</span></li>#}
					<li><span>Create Date</span></li>
					<li><span></span></li>
					<div class="clearfix"> </div>
				</ul>

                {% for items in quotationlist %}
				<ul class="cart-header d-flex justify-content-center align-items-center" id = "{{ items.id }}" >
					<div id = "{{ items.id }}"  onclick="fadeout(this)"> </div>
						<li style="width: 20%"><img src="../../media/{{  items.req_image }}" class="img-responsive" alt="" style="width:100px"></li>
						<li style="width: 20%" ><span>{{ items.quotation_id }}</span></li>
						<li style="width: 20%"><span>{{ items.category_name }}</span></li>
{#                        <li><span>{{ items.customer_id }}</span></li>#}
						<li style="width: 20%" ><span>{{ items.create_date|date:'m-d-Y' }}</span></li>
						<li style="width: 20%" > <a href="{% url 'customize:quotationlist_detail' items.quotation_id %}" class="add-cart cart-check border-r"> OPEN</a></li>

					<div class="clearfix"> </div>

				</ul> {% endfor %}

			</div>
			</div>  
		 </div>
		</div>
	</div>
	<!--end-ckeckout-->
	<!--end-footer-text-->
	<div>
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
								 		};
										*/

										$().UItoTop({ easingType: 'easeOutQuart' });

									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--end-footer-text-->	
{% endblock %}