{% extends "base.html" %}
{% load static %}

{% block head_title %}Single{% endblock %}

{% block header_part %}

{% endblock %}

{% block main_content %}


   <script>
        function SveFrm(){
            Swal.fire({
              title: 'Would you like to put these into cart?',
              icon: 'question',
              type:'question',
              inputValue: 1,
              showCancelButton:true,
              cancelButtonText:'No',
              confirmButtonText:
                'Yes',
            })
             .then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                       title: 'Thanks for shopping!',
                      icon: 'success',
                      type:'success',
                      showCancelButton:false,
                      cancelButtonText:'No',
                      confirmButtonText:
                        'Go To Cart',
                        }).then((result)=>{
                          document.forms['RegForm'].submit();
                    })
                }
                    else if (result.isDismissed) {
                    return false;
                    }

    });

        }
    </script>

    <script>
 {#document.forms['RegForm'].submit();window.location="/"#}

</script>


        {#function addtocart(obj) {#}
        {#    newobj= obj.id.substring(3)#}
        {#    Jtempid="#qty"+newobj#}
        {#    jtemptext=$(Jtempid).val()#}
        {#    TableItem =     '<div id="cart'+ newobj + '" class="">' +#}
        {#                    '<div class="mt-0 font-weight-bold text-info" style ="font-size: large">' +#}
        {#                    '<a>'+ $("#categoryname").val() +'</a>' +#}
        {#                    '</div>' +#}
        {#                    '<label class="mt-0 font-weight-bold text-muted " style ="font-size: larger">'+#}
        {#                    '<a  > Quantity: '+ jtemptext +'</a></label>' +#}
        {#                    '<div class="text-muted mb-0 f-12">' +#}
        {#                    '<a id ="del'+ newobj + '" href="javascript:;" onclick="deletecartitem(this)" >Delete</a>'#}
        {#                    '</div></div>'#}
        {##}
        {#            $("#cart").append(TableItem)#}
        {##}
        {#    disablebutton="#btn"+ newobj+""#}
        {#    if ($(disablebutton).is(":disabled")==false) {#}
        {#            $(disablebutton).attr("disabled",true)#}
        {#            $(disablebutton).css("background-color","#686565")#}
        {#        }#}
        {##}


        {#function deletecartitem(obj){#}
        {#    newobj= obj.id.substring(3)#}
        {#    $("#cart" + newobj +"").remove()#}
        {#    if ($(disablebutton).is(":disabled")==true) {#}
        {#        $("#btn" + newobj + "").attr("disabled", false)#}
        {#         $(disablebutton).css("background-color","#97262a")#}
        {#    }#}
        {##}
        {#    $('#exampleModal').on('shown.bs.modal', function () {#}
        {#        alert("点了没有")#}
        {#      $('#myInput').focus()#}
        {#    })}#}
{#    </script>#}

            <div class = "ckeckout mt-10">{#  single contract#}
                {#            <div class="row">#}
                <div class = "container justify-content-center  align-items-center" >{#  container #}
                        {#  col-md-6 left column#}{# end left col-md-6 #}
                    {% for items in quotationdetail %}
                        {% if forloop.first %}
                        {% comment %} start middle column {% endcomment %}
                        <div class = "col-md-12 col-sm-offset-2 " >
                            <h1 class = "card-title font-weight-bold text-info" style="display:none">
                                Customer: {{ items.customer_id }}, Quotation: {{ items.quotation_id }}</h1>
                            {# title of quotation #}
                            <div class = "row"> {# content middle row1 #}
                               {# <div class = "col-sm-2"></div> quotation detail placeholder left of row1 #}
                                    {#start quotation pic middle middle1 column of row 1#}
                                <div class = "col-md-3 ">
                                            {# middle left col-md-5#}
                                            <div class  = "flexslider">
                                                <ul  class   = "slides">
                                                    <li  data-thumb = "../../media/{{ items.req_image }} ">
                                                        <img src        = "../../media/{{ items.req_image }}"/>
                                                    </li>
                                                    <li  data-thumb = "{% static 'images/s2.jpg' %}">
                                                        <img src        = "{% static 'images/s2.jpg' %}"/>
                                                    </li>
                                                </ul>
                                            </div>
                                </div>
                                    {# end quotation pic middle middle1 column of row 1 #}

                                    {# start quotation detail middle middle 2 column of row 1#}
                                <div class = "col-md-8 " style="padding:10px;">{# right quotation detail column #}
                                    <input id = "categoryname" type="text" value ="{{ items.category_name }}" style="display: none"/>
                                    <h3 class="card-title font-weight-bold text-info" >Part Number: {{ items.part_number }}</h3>
                                    <div class="table-responsive" style="overflow-x:hidden;">
                                    <form name = "RegForm" id = "RegForm" method  = "POST" action = "{% url 'order:SaveToCart' %}" enctype = "multipart/form-data">
                                        {% csrf_token %}
                                        <table class="table" style="width: 100%">
                                            <thead class=" align-items-center mx-auto" style="">
                                            <tr >
                                              <th class= "text-center" scope="col" style ="width: 5%"></th>
                                              <th class= "text-center" scope="col" style ="width: 15%">Sleeve</th>
                                              <th class= "text-center" scope="col" style ="width: 15%">Size</th>
                                              <th class= "text-center" scope="col" style ="width: 15%">Gender</th>
                                              <th class= "text-center" scope="col" style ="width: 15%" >Color</th>
                                              <th class= "text-center"  style ="width: 15%" scope="col">Quantity</th>
                                              <th class= "text-center " scope="col" style ="width: 30%" >Special Requirement</th>
                                            </tr>
                                          </thead> 
                                          <tbody>
                                            <tr>
                                               <td class= "text-center" style ="max-width: 5%"><input id = 'checktocart' name = 'checktocart' value="{{ items.quotation_id }}" type="checkbox"> </td>
                                              <td class= "text-center" id = "sleeve"{{ items.quotation_id }} style ="max-width: 15%" >{{ items.sleeve }}</td>
                                              
                                              <td class= "text-center" id = "size"{{ items.quotation_id }} style ="max-width: 15%">{{ items.size }}</td>
                                              <td class= "text-center" id = "gender"{{ items.quotation_id }} style ="max-width: 15%"> {{ items.gender }}</td>
                                              <td class= "text-center" style ="max-width: 30%" ><ul class = "product-colors">
                                                    <li><a id = "color"{{ items.quotation_id }} class = {{ items.color }}><span> </span></a></li></ul></td>
                                              <td class= "text-center"  style ="max-width: 30%"  id = "" > <input style ="overflow:hidden;max-width: 25% " id = "qty{{ items.quotation_id }}" type="number"   value =1 /></td>
                                              {% comment %} <td class= "text-center " style ="overflow:hidden" id = "desc"{{ items.quotation_id }} > {{ items.description }}</td> {% endcomment %}

                                            </tr>
                                          </tbody>
                                        </table>
                                           <!-- Django中需要POST数据的地方都必须有csrf_token -->

                                            <button id="btncart" name ="button-c" class ="button-c pull-right" style ="font-size: x-small;" onclick="SveFrm()" type="button"  >
                                                Add to cart
                                            </button>
                                        </form>

                                    </div>
                                        </div>

                                </div>{# end right quotation detail column #}

                            </div> {# end  quotation detail row #}

                            <!-- start presend feedback row -->

                                <form method  = "POST" action     = "{% url 'customize:quotation_feedback' items.quotation_id %}"
                                                 enctype = "multipart/form-data">
        {#                                      <!-- Django中需要POST数据的地方都必须有csrf_token -->#}
                                                        {% csrf_token %}

                                <div  class   = "col-md-12 " style="">{# present feedback middle column #}
                                <div  class   = "shadow row mt-2" style="border: 2px"> {# present feedback row#}
                                        <div class = "col-md-3" style="padding: 10px">{# present feedback pic middle left column#}
                                            <div class = "address">{# address #}
                                            <!-- 标签 -->
                                                <span>Feedback</span>
                                                <div   id         = "wrapper">{# wrapper#}
                                                    <input type       = "file" id                  = "file" name = "images" multiple = "multiple"
                                                        accept     = "image/*" aria-describedby = "inputGroupFileAddon04"
                                                        aria-label = "Upload"
                                                     onchange  = "preview_image(event)">
                                                    <img   id         = "output_image" style      = "max-width: 100px;max-height:300px; padding-top: 10px">
                                                </div>
                                                {#  end wrapper#}
                                             </div>
                                        </div>{# present feedback pic middle left column #}

                                        <div class = "col-md-6" style="">{# present feedback textbox middle middle column#}

                                                <div class = "address">
                                                            {#   <!-- 标签 -->#}
                                                    <span>Desciption</span>
                                                    <textarea class = "form-control" type = "text" id = "body" name = "desc_feedback"
                                                      rows  = "8"
                                                      style = "margin-bottom: 10px"></textarea>
                                                </div>

                                        </div>{# present feedback textbox middle middle column#}

                                        <div class = "col-md-2" style="position: relative;">{# present feedback button middle right column#}

                                                <div   class = " " style=" position: absolute; bottom: 0; right: 0">
                                                    <input class="button-c" type  = "submit" value  = "submit" style=" position: absolute; bottom: 10px; right: 30px"/>
                                                 </div>

                                        </div>{# end present feedback button middle right column#}

                                </div>{# end present feedback middle column #}

                            </div>{# end present feedback row #}
                                </form>
                            {% comment %} start historic feedback row {% endcomment %}
                            <div class = "row" >
                                <div class="col-md-12 single-top-left" >{#start historic feedback table  #}



                                    <div class="in-check">
                                        <ul class="unit">
                                            <li><span>Feedback pic</span></li>
                                            <li><span>Quotation ID</span></li>
                                            <li><span>Product Name</span></li>
                                            <li><span>Create Date</span></li>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>

                                {% for quofeedback in quoinprog %}
                                    <ul id="{{ quofeedback.id }}" class="cart-header">
                                    <div id="{{ quofeedback.id }}"></div>
                                        <li><img src="../../media/{{ quofeedback.feedback_image }}" class="img-responsive"
                                             alt="" style="width:100px"></a>
                                         </li>
                                        <li><span style="width:40px">{{ quofeedback.quotation_id }}</span></li>
                                        <li><span style="width:40px">{{ quofeedback.desc_feedback }}</span></li>
                                        <li><span style="width:40px">{{ quofeedback.create_date|date:'m-d' }}</span></li>
                                            <span style="width:20px">
                                                <a href="{% url 'customize:quofeedback_detail' quofeedback.quotation_id %}"
                                            class="add-cart cart-check"> OPEN</a></span>

                                        <div class="clearfix"></div>

                                    </ul>
                                {% endfor %}
                                </div>{#end historic feedback table  #}
                            </div> {% comment %} end historic feedback row {% endcomment %}
                        </div>{#  end middle quotation detail and feedback#}

                        </div>
                        {#  end right col-md-6#}


                </div>
                {# end container-fluid #}
            </div>{# end first row #}
            </div>{# end single contract #}
        {% endif %}
    {% endfor %}
{% endblock %}