{% extends "base.html" %}
{% load static %}

{% block head_title %}Single{% endblock %}

{% block header_part %}

{% endblock %}

{% block main_content %}
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });

        function preview_image(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output_image');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
    <!--start-breadcrumbs-->
    {% for items in quotationdetail %}
        {% if forloop.first %}
            {#style="margin-top:10px"#}
            <div class="single contact">{#  single contract #}
            <div class="row">
                <div class="container-fluid" style="background-color: green">{#  container #}
                    {#                <div class="single-main">{#  single-main #}

                    {#                    <div class="col-md-9 single-main-left"><h1 >test1</h1></div>{#  col-md-9 #}
                    {#                        <div class="sngl-top">{#  sngl-top right#}
                    {#                            <h1 >test2</h1>#}

                    {# left picture #}
                    <div class="col-sm-2"><h3>placeholder</h3>
                    </div>
                    <div class="col-md-6 single-top-left">{#  col-md-6#}

                        <h1 class="card-title font-weight-bold text-info">
                            Customer: {{ items.customer_id }},Quotation:{{ items.quotation_id }}</h1>
                        <hr>
                        <div class="row" style="background-color: red">
                            <div class="col-md-4 single-top-right" style="background-color: yellow">{#  col-md-5#}
                                <div class="flexslider">
                                    <ul class="slides">
                                        <li data-thumb="../../media/{{ items.req_image }} ">
                                            <img src="../../media/{{ items.req_image }}"/>
                                        </li>
                                        <li data-thumb="{% static 'images/s2.jpg' %}">
                                            <img src="{% static 'images/s2.jpg' %}"/>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {#  col-md-5#}
                            {# quotation detail #}
                            <div class="col-md-10 single-top-right" style="background-color: orange">{# col-md-6 #}
                                {#                                <div class="details-left-info simpleCart_shelfItem">{# details-left-info #}
                                <h2>Part Number: {{ items.part_number }}</h2>
                                <hr>
                                <h2 class="quick " style="font-size: 18px">Sleeve: </h2>
                                <p class="quick_desc" style="font-size: 16px">
                                    {{ items.sleeve }}
                                </p>

                                <h2 class="quick" style="font-size: 18px">Size: </h2>
                                <p class="quick_desc" style="font-size: 16px">
                                    {{ items.size }}
                                </p>

                                <h2 class="quick" style="font-size: 18px">Gender: </h2>
                                <p class="quick_desc" style="font-size: 16px">
                                    {{ items.gender }}
                                </p>

                                <h2 class="quick" style="font-size: 18px">Color: </h2>
                                <label for={{ items.color }}></label>
                                <ul class="product-colors">

                                    <li><a class={{ items.color }}><span> </span></a></li>
                                </ul>
                                <br>

                                {#						<h2 class="quick" style="font-size: 18px">Style: </h2>#}
                                {#                        <p class="quick_desc">#}
                                {#							<img src="../../media/{{ items.req_image }}" style="width:120px;height:80px;" alt="">#}
                                {#						</p>#}
                                <h3>Special Requirement</h3>
                                <p class="quick_desc" style="font-size: 18px">
                                    {{ items.description }}
                                </p>

                                {#                                </div>{#  end details-left-info #}

                                {#  end col-md-6 #}
                                <form method="POST" action="{% url 'order:SaveToCart' items.quotation_id %}"
                                      enctype="multipart/form-data">
                                    <!-- Django中需要POST数据的地方都必须有csrf_token -->
                                    {% csrf_token %}
                                    <div class="address" style="">
                                        <input type="submit" value="PLACE TO CART"/>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <hr>

                         {# Feedback input  #}
                    <div class="shadow  single-top-left" style="position:relative;">{#  col-md-11#}

                        <form method="POST" action="{% url 'customize:quotation_feedback' items.quotation_id %}"
                              enctype="multipart/form-data">
                            <!-- Django中需要POST数据的地方都必须有csrf_token -->
                            {% csrf_token %}
                            <div class="col-md-3 single-top-left">{#  col-md-4#}
                                <div class="address">{# address #}
                                    <!-- 标签 -->
                                    <span>Feedback</span>
                                    <div id="wrapper">{# wrapper #}
                                        <input type="file" id="file" name="images" multiple="multiple"
                                               accept="image/*" aria-describedby="inputGroupFileAddon04"
                                               aria-label="Upload"
                                               style="max-width: 50%" onchange="preview_image(event)">
                                        <img id="output_image"
                                             style="max-width: 200px;max-height:300px; padding-top: 10px">
                                    </div>
                                    {# end wrapper #}
                                </div>
                                {# end address #}
                            </div>
                            {#  col-md-4#}
                            <div class="col-md-6 single-top-left">{#  col-md-6#}
                                <div class="address">
                                    <!-- 标签 -->
                                    <span>Desciption</span>
                                    <textarea class="form-control" type="text" id="body" name="desc_feedback" rows="8"
                                              style="margin-bottom: 10px"></textarea>
                                </div>
                            </div>
                            {# end col-md-6#}
                            <div class="col-md-2 single-top-left" style="position: relative">
                                <div class="address" style="">
                                    <input type="submit" value="submit"/>
                                </div>
                            </div>
                        </form>
                    </div>{# end col-md-11#}{# end Feedback input  #}
                        <hr>
                     {# historical feedback #}


                    {#  end col-md-6 #}


                    {# end col-md-11 #}{# end historical feedback #}
                    {#                        </div>{#  end sngl-top #}
                    {#                </div>{#  end single-main #}
                    <div class="" STYLE="background-color: #1b9dec"><h3>placeholder</h3>
                       </div>

                </div>
                {#  end container #}
                    <div class ="col-md-3" STYLE="background-color: #1b9dec"><h3>placeholder</h3></div>
                </div>{# end row #}
            </div>{#  end single contract #}
        {% endif %}
    {% endfor %}
     <div class="col-md-6 single-top-left">{# col-md-11 #}
                        <div class="in-check">
                            <ul class="unit">
                                <li><span>Feedback pic</span></li>
                                <li><span>Quotation ID</span></li>
                                <li><span>Product Name</span></li>
                                <li><span>Create Date</span></li>
                                <div class="clearfix"></div>
                            </ul>
                            {% for quofeedback in quoinprog %}
                                <ul id="{{ quofeedback.id }}" class="cart-header">
                                    <div id="{{ quofeedback.id }}"></div>
                                    <li><img src="../../media/{{ quofeedback.feedback_image }}" class="img-responsive"
                                             alt="" style="width:100px"></a>
                                    </li>
                                    <li><span style="width:40px">{{ quofeedback.quotation_id }}</span></li>
                                    <li><span style="width:40px">{{ quofeedback.desc_feedback }}</span></li>
                                    <li><span style="width:40px">{{ quofeedback.create_date|date:'m-d' }}</span></li>
                                    <span style="width:20px"> <a
                                            href="{% url 'customize:quofeedback_detail' quofeedback.quotation_id %}"
                                            class="add-cart cart-check"> OPEN</a></span>
                                    {#                        <li><div class=""></div></li>#}

                                    <div class="clearfix"></div>

                                </ul>
                            {% endfor %}
                        </div>
                    </div>
{% endblock %}