{% load static common_tags %}
{% get_carousel_list as carousels %}



    <div class="" style="padding-top: 80px">
       <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>  <div class="carousel-inner">
               {% for each in carousels %}
                    {% if forloop.first %}
                        <div class="carousel-item active" style="min-height:700px;max-height:700px">
                        {% else %}
                        <div class="carousel-item" style="min-height:700px;max-height:700px">
                        {% endif %}
                            <img class="w-100" src="../media/{{ each.img_url }}" alt="{{ each.content }}">
                        </div>
                    {% endfor %}
          </div>
           <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>



    </div>
    </div>
