{% extends "base.html" %}
{% load static %}

{% block head_title %}Products{% endblock %}

{% block product_content %}

	<!--bottom-header-->

	<!--start-product--> 
 <div class="checkout ">
        <div class="container justify-content-center  align-items-center">
{#			<div class="product-main" style="padding-top: 200px">#}
				<div class="col-md-9 p-left">
				    <div class="product-one row">
                          {% for clouth in mainclouths %}
                        <div class="col-md-4 product-left single-left mb-3">
                            <div class="p-one simpleCart_shelfItem mt-2" style="max-width:400px">
                                <a href="{% url 'common:single' clouth.slug %}">
                                        <img src="../../media/{{ clouth.image }}" alt="" />
                                        <div class="mask mask1">
                                            <span>Quick View</span>
                                        </div>
                                    </a>
                                <h5>{{ clouth.product_name }}</h5>
					            <p><a class="item_add" href="{% url 'common:single' clouth.slug %}"><i></i> <span class=" item_price">{{ clouth.price }}</span></a></p>
                            </div>
                        </div>
                        {% endfor %}

{#			<div class="col-md-3 p-right single-right">#}

			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
	<!--end-product-->
        <!--start-footer--></div>
{% endblock %}