{% extends "base.html" %}
{% load static %}

{% block head_title %}Single{% endblock %}

{% block header_part %}

{% endblock %}




<!--top-header-->
    {% block main_content %}
	<!--start-single-->
        	<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script>

	<div class="ckeckout mt-10">
        <div class="container justify-content-center align-items-center"  >
			<div class="single-main  mt-1">
				<div class="row " >
                    {% for each in clouth %}
                            {% if forloop.first %}
					<div class="col-md-4 single-top-left  mt-1 " style="margin-left: 50px">

						<div class="flexslider">
							<ul class="slides">
								<li data-thumb= "../../media/{{ each.image }}" >
									<img src="../../media/{{ each.image }}" />
								</li>
								<li data-thumb="{% static 'images/s2.jpg' %}">
									<img src="{% static 'images/s2.jpg' %}" />
								</li>
								<li data-thumb="{% static 'images/s3.jpg' %}">
									<img src="{% static 'images/s3.jpg' %}" />
								</li>
								<li data-thumb="{% static 'images/s4.jpg' %}">
									<img src="{% static 'images/s4.jpg' %}" />
								</li>
							</ul>
						</div>


	                </div>
				    <div class="col-md-5 single-top-right mt-1" >
					    <div class="details-left-info simpleCart_shelfItem">

						<h3>{{ each.product_name}}</h3>

						<p class="availability">Availability: <span class="color">{{ each.available_inv}}</span></p>
						<div class="price_single">
							<span class="reducedfrom">${{ each.orig_price}}</span>
							<span class="actual item_price">${{ each.price}}</span>
<!--							<a href="#">click for offer</a>-->
						</div>
						<h2 class="quick">Quick Overview:</h2>
						<p class="quick_desc">
							{{ each.description }}
						</p>
						<ul class="product-colors">
							<h3>available Colors ::</h3>
							<li><a class="color1" href="#"><span> </span></a></li>
							<li><a class="color2" href="#"><span> </span></a></li>
							<li><a class="color3" href="#"><span> </span></a></li>
							<li><a class="color4" href="#"><span> </span></a></li>
							<li><a class="color5" href="#"><span> </span></a></li>
							<li><a class="color6" href="#"><span> </span></a></li>
							<li><a class="color7" href="#"><span> </span></a></li>
							<li><a class="color8" href="#"><span> </span></a></li>
							<div class="clear"> </div>
						</ul>
						<ul class="size">
							<h3>Available Size</h3>
							<li><a href="#">XS</a></li>
							<li><a href="#">S</a></li>
							<li><a href="#">M</a></li>
							<li><a href="#">L</a></li>
							<li><a href="#">XL</a></li>
						</ul>
<!--						disable for furture enable-->
<!--						<div class="quantity_box">-->
<!--							<ul class="product-qty">-->
<!--								<span>Quantity:</span>-->
<!--								<select>-->
<!--									<option>1</option>-->
<!--									<option>2</option>-->
<!--									<option>3</option>-->
<!--									<option>4</option>-->
<!--									<option>5</option>-->
<!--									<option>6</option>-->
<!--								</select>-->
<!--							</ul>-->
<!--						</div>-->
					<div class="clearfix"> </div>
<!--				<div class="single-but item_add">-->
<!--					<input type="submit" value="add to cart"/>-->
<!--				</div>-->
			        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

		<div class="clearfix"></div>
	</div>
					<div class="shoes">
						<div class="row">
							<div class="col-md-3 product-left single-left">
								<div class="p-one simpleCart_shelfItem">
                                    <a href="#">
								<img src="{% static 'images/shoes-1.png' %}" alt="" />
								<div class="mask mask1">
									<span>Quick View</span>
								</div>
							</a>
									<h4>Sample product</h4>
<!--									<p><a class="item_add" href="#"><i></i> <span class=" item_price">$329</span></a></p>-->
									
								</div>
							</div>
							<div class="col-md-3 product-left single-left">
								<div class="p-one simpleCart_shelfItem">
									<a href="#">
								<img src="{% static 'images/shoes-2.png' %}" alt="" />
								<div class="mask mask1">
									<span>Quick View</span>
								</div>
							</a>
									<h4>Sample product</h4>
<!--									<p><a class="item_add" href="#"><i></i> <span class=" item_price">$329</span></a></p>-->
									
								</div>
							</div>
							<div class="col-md-3 product-left single-left">
								<div class="p-one simpleCart_shelfItem">
									<a href="#">
								<img src="{% static 'images/shoes-3.png' %}" alt="" />
								<div class="mask mask1">
									<span>Quick View</span>
								</div>
							</a>
									<h4>Sample product</h4>
<!--									<p><a class="item_add" href="#"><i></i> <span class=" item_price">$329</span></a></p>									-->
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="product-one row">
							<div class="col-md-3 product-left single-left">
								<div class="p-one simpleCart_shelfItem">
									<a href="#">
								<img src="{% static 'images/shoes-4.png' %}" alt="" />
								<div class="mask mask1">
									<span>Quick View</span>
								</div>
							</a>
									<h4>Sample product</h4>
<!--									<p><a class="item_add" href="#"><i></i> <span class=" item_price">$329</span></a></p>									-->
								</div>
							</div>
							<div class="col-md-3 product-left single-left">
								<div class="p-one simpleCart_shelfItem">
									<a href="#">
								<img src="{% static 'images/shoes-1.png' %}" alt="" />
								<div class="mask mask1">
									<span>Quick View</span>
								</div>
							</a>
									<h4>Sample product</h4>
<!--									<p><a class="item_add" href="#"><i></i> <span class=" item_price">$329</span></a></p>									-->
								</div>
							</div>
							<div class="col-md-3 product-left single-left">
								<div class="p-one simpleCart_shelfItem">
									<a href="#">
								<img src="{% static 'images/shoes-2.png' %}" alt="" />
								<div class="mask mask1">
									<span>Quick View</span>
								</div>
								</a>
									<h4>Sample product</h4>
<!--									<p><a class="item_add" href="#"><i></i> <span class=" item_price">$329</span></a></p>				-->
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
<!--				<div class="col-md-3 single-right">-->
<!--					<h3>Categories</h3>-->
<!--					<ul class="product-categories">-->
<!--						<li><a href="#">Blucher Shoe</a> <span class="count">(14)</span></li>-->
<!--						<li><a href="#">Clog Shoe</a> <span class="count">(2)</span></li>-->
<!--						<li><a href="#">Snow Boot Shoe</a> <span class="count">(2)</span></li>-->
<!--						<li><a href="#">Galesh Shoe</a> <span class="count">(11)</span></li>-->
<!--						<li><a href="#">pataugas Shoe</a> <span class="count">(3)</span></li>-->
<!--						<li><a href="#">Jazz Shoe</a> <span class="count">(3)</span></li>-->
<!--					</ul>-->
<!--					<h3>Colors</h3>-->
<!--					<ul class="product-categories">-->
<!--						<li><a href="#">Green</a> <span class="count">(14)</span></li>-->
<!--						<li><a href="#">Blue</a> <span class="count">(2)</span></li>-->
<!--						<li><a href="#">Red</a> <span class="count">(2)</span></li>-->
<!--						<li><a href="#">Gray</a> <span class="count">(8)</span></li>-->
<!--						<li><a href="#">Green</a> <span class="count">(11)</span></li>-->
<!--						<li><a href="#">Yellow</a> <span class="count">(2)</span></li>-->
<!--					</ul>-->
<!--					<h3>Sizes</h3>-->
<!--					<ul class="product-categories">-->
<!--						<li><a href="#">5.5</a> <span class="count">(14)</span></li>-->
<!--						<li><a href="#">6</a> <span class="count">(2)</span></li>-->
<!--						<li><a href="#">6.5</a> <span class="count">(2)</span></li>-->
<!--						<li><a href="#">7</a> <span class="count">(8)</span></li>-->
<!--						<li><a href="#">7.5</a> <span class="count">(11)</span></li>-->
<!--					</ul>-->
<!--					<h3>Price</h3>-->
<!--					<ul class="product-categories p1">-->
<!--						<li><a href="#">600$-700$</a> <span class="count">(14)</span></li>-->
<!--						<li><a href="#">700$-800$</a> <span class="count">(2)</span></li>-->
<!--						<li><a href="#">800$-900$</a> <span class="count">(2)</span></li>-->
<!--						<li><a href="#">900$-1000$</a> <span class="count">(8)</span></li>-->
<!--						<li><a href="#">1000$-1100$</a> <span class="count">(11)</span></li>-->
<!--					</ul>-->
<!--				</div>-->
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
{% endblock %}
	<!--end-single-->