{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% block metas %}
        {#theme-style#}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="keywords" content="Customize clouth Vest T shirt sports"/>
    {% endblock %}



    {% block top_include %}
        {% include './base_site_5.html' %}
        {#{% include './base_site_orig.html' %}#}
        {% block head_script %}
        {% endblock %}
    {% endblock %}
    <title>{% block head_title %}{% endblock %}</title>

    {% block head_style %}
        <style>
        .mt-10 {
         margin-top:100px

        }
        .border-r {
        border-radius: 15px;
        }
            .table thead tr th {
        text-align:center;
        font-size: 12px;
    }
    .table tbody tr td {
        text-align:center;
        font-size: 12px;
    }
        </style>

        <script>
                    function fadeout(obj){
                    $(document).ready(function(c) {
					$(document.getElementById(obj.id)).on('click', function(c){
						$(document.getElementById(obj.id)).fadeOut('slow', function(c){
							$(document.getElementById(obj.id)).remove();
						});
						});
					})
				};
                // Can also be used with $(document).ready()
$(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      controlNav: "thumbnails"
    });
  });
			   </script>

               
    {% endblock %}
</head>


{#<link href='http://fonts.useso.com/css?family=Alegreya+Sans+SC:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>#}
{#<link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>#}


{# Custom Theme files #}


<body>

<!--nav bar-->
<nav class="navbar  fixed-top  navbar-default">

    <div class="col-md-12 top-header-middle">

        <div class="top-nav mt-3">
            <a href="{% url 'common:index' %}"><img src="{% static '/images/logo-4.png' %}" alt=""/></a>

            <ul class="memenu skyblue" style="padding-top: 20px">
                <li class="active"><a href="{% url 'common:index' %}">Home</a></li>
                <li class="grid"><a href="{% url 'common:products' %}">VEST</a></li>
                <li class="grid"><a href="{% url 'common:products' %}">T shirt</a></li>
                <li class="grid"><a href="{% url 'common:products' %}">Sports</a></li>
                {% comment %} <li class="grid"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                <li class="grid"><a href="{% url 'accounts:dashboardn' %}">Dashboardn</a></li>
                <li class="grid"><a href="{% url 'accounts:test' %}">Test</a></li>
                <li class="grid"><a href="{% url 'order:checkout' %}">checkout</a></li> {% endcomment %}
                {#                        if it's staff, then show quotation list#}
                {% if user.is_authenticated %}
                    <li class="grid"><a class="address" href="{% url 'customize:quotationlist' %}">Quotation</a></li>
                    {#                        {% endif %}#}

                    {#                  if it's customer or staff, then show dropdown list  #}
                    {#                    {% if user.is_authenticated %}#}
                    {#                        <li class="grid pull-right"><a href="{% url 'accounts:profile' %}">True</a></li>#}
                    <li class="pull-right">

                        <a href="{% url 'order:cartmaster' user.id %}">
                            <img src="{% static 'images/cart-1.png' %}" alt=""/></a></li>
                    <!--Drop down menu-->

                    <li class="grid dropdown pull-right">
                        <a class="dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown"  href="#">{{ user.username }}</a>
                        <ul class="dropdown-menu">
                            {#                          <li><a href="#" id="navbarDropdown" role="button" data-toggle="dropdown"#}
                            {#                                   aria-haspopup="true" aria-expanded="false" title="{{ user.username }}，欢迎回来！">#}
                            {#                                    {% if msgnum > 0%}#}
                            {#                                    <span class="get-msg text-center">{{ msgnum }}</span>#}
                            {#                                    {% endif %}#}
                            {#                                    {% get_user_avatar_tag user %}#}
                            {#                          </a></li>#}

                            <li><a class=" dropdown-item pl-3" href="{% url 'accounts:profile' %}">
                                <i class="bi bi-person mr-2"></i> Porfile</a></li>

                            <li>{% if user.is_staff %}
                                <a class=" dropdown-item pl-3 mt-0 rounded-0 border-0" href="/xadmin/">
                                    <i class="bi bi-wrench mr-2"></i>Management</a>
                            {% endif %}</li>

                            <li><a class="dropdown-item pl-3  mt-0 rounded-0 border-0" href="#">
                                <i class="bi bi-envelope mr-2"></i>Message
{#                                {% if msgnum > 0 %}#}
{#                                    <i class="fa fa-fw fa-key text-info mr-2">{{ msgnum }}</i>#}
{#                                {% endif %}#}
                            </a></li>

                            <li><a class="dropdown-item pl-3  mt-0 rounded-0 border-0"
                                   href="{% url 'account_logout' %}">
                                <i class="bi bi-door-open mr-2"></i>Log out</a></li>
                        </ul>

                        <div class="clearfix"></div>

                    </li>

                {% else %}

                    <li class="grid pull-right"><a class="" href="{% url 'account_signup' %}?next={{ request.path }}">Sign Up</a></li>
                    <li class="grid pull-right "><a class="" href="{% url 'account_login' %}?next={{ request.path }}">Sign In</a></li>

                {% endif %}

            </ul>


            {#            	<div class=" breadcrumbs" >#}
            {#		<div class="container ">#}
            {#                    <div class="col-sm-2 "></div>#}
            {#			<div class="col-sm-8 align-items-center">#}
            {#				<ol class=" breadcrumb " >#}
            {#					<li><a href="{% url 'common:index' %}">Home</a></li>#}
            {#					<li class="active">{% block breadcrumb %}{% endblock %}</li>#}
            {#				</ol>#}
            {#			</div>#}
            {#		</div>#}
        </div>
    </div>


    {#			</div>#}

    {#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
    {#            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
    {#        <span class="navbar-toggler-icon"></span>#}
    {#    </button>#}

</nav>


<!--end nav bar-->

{% block header_part %}
    {#    top-header#}

    {#top-header#}
{% endblock %}

{#    {% include 'common/navbar.html' %}#}


{% block carousel %}{% endblock %}
{% block banner %}{% endblock %}
{#	banner-starts#}





{% block main_content %}
{% endblock %}

{% block product_content %}    {% endblock %}
{% block login %}    {% endblock %}
{% block signup %}   {% endblock %}
{% block test %}   {% endblock %}
{% block base_content %}{% endblock %}
{% block logout %}{% endblock %}
{% block quotationlist_content %}{% endblock %}
{#	end-shoes#}

{% block special_introduction %}{% endblock %}

{% block cart_content %}{% endblock %}

{% block footer %}

{% endblock %}
</body>
</html>