{% load static  %}

<script src="{% static '/js_5/jQuery-3.6.0.js' %}"></script>
<link rel="stylesheet" type="text/css" media="all" href="{% static '/css_5/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" media="all" href="{% static '/css_5/font-awesome.css' %}"/>
{#<link rel="stylesheet" type="text/css" media="all" href="{% static '/css_5/bootstrap-checkbox.min.css' %}"/>#}
{#<link rel="stylesheet" type="text/css" media="all" href="{% static '/css_5/pretty-checkbox.min.css' %}"/>#}
<link href="{% static '/css_5/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static '/css_5/pretty-checkbox.min.css' %}" rel="stylesheet" type="text/css" media="all" />
{#<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css_5/materialdesignicons.min.css">#}
{#<link rel="stylesheet" href="https://webapps1.chicago.gov/cdn/Bootstrap-3.3.7/bootstrap.min.css">#}
{# jQuery (necessary for Bootstrap's JavaScript plugins) #}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js_5/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>#}
{#theme-style#}
{#<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>#}
{#fonts#}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js_5/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>#}
{#//fonts#}
<script type="text/javascript" src="{% static '/js_5/move-top.js' %}"></script>
<script type="text/javascript" src="{% static '/js_5/base.js' %}"></script>
<script type="text/javascript" src="{% static '/js_5/easing.js' %}"></script>
<script type="text/javascript" src="{% static '/js_5/bootstrap.min.js' %}"></script>
<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});

					// Can also be used with $(document).ready()
        $(document).ready(function () {

            $('.flexslider').flexslider({
                animation : "slide",
                controlNav: "thumbnails"
            });
        });

        function preview_image(event) {
            var reader        = new FileReader();
                reader.onload = function () {
                var output     = document.getElementById('output_image');
                    output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        };
				</script>
{# start menu #}
<script src="{% static '/js_5/simpleCart.min.js' %}"> </script>
<link href="{% static '/css_5/memenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static '/css_5/twitter-bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static '/js_5/memenu.js' %}"></script>
<script type="text/javascript" src="{% static '/js_5/simpleCart.js' %}"></script>
<script type="text/javascript" src="{% static '/js_5/sweetalert.min.js' %}"></script>



<script>$(document).ready(function(){$(".memenu").memenu();});</script>
{# FlexSlider #}
{#<link rel="stylesheet" href="{% static '/css_5/flexslider.css' %}" type="text/css" media="screen" />#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/jquery.flexslider-min.js" integrity="sha512-BmoWLYENsSaAfQfHszJM7cLiy9Ml4I0n1YtBQKfx8PaYpZ3SoTXfj3YiDNn0GAdveOCNbK8WqQQYaSb0CMjTHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/flexslider.min.css" integrity="sha512-c7jR/kCnu09ZrAKsWXsI/x9HCO9kkpHw4Ftqhofqs+I2hNxalK5RGwo/IAhW3iqCHIw55wBSSCFlm8JP0sw2Zw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
