{% extends "base.html" %}
{% load static %}

{% block head_title %}Quotation List{% endblock %}

{% block cart_content %}
<script>$(document).ready(function(c) {

					$('.close1').on('click', function(c){
					    alert("click");
						$('#cart-header').fadeOut('slow', function(c){
							$('#cart-header').remove();
						});
						});
					});
			   </script>

	<!--end-breadcrumbs-->
	<!--start-ckeckout-->
	<div class="ckeckout mt-10" >
{#    fisrt row#}
{#    <div class="row">#}
		<div class="container">
{#        left place holder#}
{#           <div class="col-sm-2">#}
{#              </div>#}
            <div class="col-md-12 col-sm-offset-2" >
                <ul class="nav nav-tabs memenu skyblue">
                    <li class="active">
                    <a >Shopping Cart ({{ Cartlist.count }})</a>
                    </li>
                </ul>

                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="shadow col-md-12 mb-4">
                        <div class="row mt-4">
                                <div class="col-md-1 d-flex justify-content-center ">
                                    <div class="btn-group align-self-center" role="group" aria-label="Basic checkbox toggle button group">
                                        <input type="checkbox" class="btn-check " id={{ items.cart_id }} autocomplete="off" >
        {#                                <label class="btn btn-outline-primary" for="btncheck1" style="display: none">Checkbox 1</label>#}
                                    </div>
                                </div>
                                <div class="col-md-10 d-flex mt-4 mb-4" >
                                    <div class="table-responsive" style="overflow-x:hidden; width:100%">
{#                                    <form name = "RegForm" id = "RegForm" method  = "POST" action = "{% url 'order:SaveToCart' %}" enctype = "multipart/form-data">#}
{#                                        {% csrf_token %}#}

                                            <table class="table" style="border-collapse: collapse;table-layout: fixed;word-break: break-all;">
                                            <thead class=" align-items-center mx-auto" style="">
                                            <tr >
                                              <th class= "text-center" scope="col" style ="width: 5%"></th>
                                              <th class= "text-center" scope="col" style ="width: 15%"></th>
                                              <th class= "text-center" scope="col" style ="width: 10%">Sleeve</th>
                                              <th class= "text-center" scope="col" style ="width: 10%">Size</th>
                                              <th class= "text-center" scope="col" style ="width: 10%">Gender</th>
                                              <th class= "text-center" scope="col" style ="width: 10%" >Color</th>
                                              <th class= "text-center"  style ="width: 10%" scope="col">Quantity</th>
                                              <th class= "text-center " scope="col" style ="width: 20%" >Special Requirement</th>
                                              <th class= "text-center " scope="col" style ="width: 10%" ></th>
                                            </tr>
                                          </thead>

                                           <!-- Loop cart items -->

                                                <tbody>
                                        {% for items in Cartlist %}
                                            <tr id ="cart-header" >

                                               <td class= "text-center" ><div id = {{ items.cart_id }} class="close1"><li class="ring-in"></li></div>
						            <input id = 'checktocart' name = 'checktocart' value="{{ items.quotation_id }}" type="checkbox" checked> </td>
                                              <td class= "text-center" id = "img"{{ items.quotation_id  }}> <div ><img style="max-width: 100px" src="../../media/{{ items.req_image }}"  alt="Generic placeholder image"></div></td>
                                              <td class= "text-center" id = "sleeve"{{ items.quotation_id }} >{{ items.sleeve }}</td>
                                              <td class= "text-center" id = "size"{{ items.quotation_id }}>{{ items.size }}</td>
                                              <td class= "text-center" id = "gender"{{ items.quotation_id }}> {{ items.gender }}</td>
                                              <td class= "text-center"  ><ul class = "product-colors">
                                                    <li><a id = "color"{{ items.quotation_id }} class = {{ items.color }}><span> </span></a></li></ul></td>
                                              <td class= "text-center"  id = "" > <input style ="overflow:hidden;width: 50px" id = "qty{{ items.quotation_id }}" type="number"   value =1 /></td>
                                              {% comment %} <td class= "text-center " style ="overflow:hidden" id = "desc"{{ items.quotation_id }} > {{ items.description }}</td> {% endcomment %}
                                              <td class= "text-center" id = "size"{{ items.quotation_id }} >{{ items.description }}</td>
                                              <td class= "text-center" id = "size"{{ items.quotation_id }} >
                                                  <form onSubmit="if(!confirm('Do you want to delete the item?')){return false;}" id="safe_delete" action="{% url 'order:deletecartitem' items.cart_id %}" method="POST" >
                                                  {% csrf_token %}
                                                  <button class="button-c " type="submit" value="Delete" style ="font-size: xx-small;">Delete</button>
                                                 </form>
                                              </td>
                                            </tr>
                                                {% endfor %}
                                          </tbody>
                                        </table>
                                           <!-- Django中需要POST数据的地方都必须有csrf_token -->
{#                                        </form>#}

                                    </div>
                                    </div>


                    </div><!--end row -->

                    </div>
                </div>

                <hr>
{#             <form onSubmit="if(!confirm('Do you want to delete the item?')){return false;}" id="safe_delete" action="{% url 'order:deletecartitem' items.cart_id %}" method="POST" >#}
             <div id= "checktoorder" class="address col-md-3 col-md-offset-9 mt-1 pull-right">
                 <div>
                     <h3 class="address">Subtotal:</h3>
                 </div>
                 <hr>
                    <form id="safe_delete" action="{% url 'order:checkout' %}" method="POST" >
                                            {% csrf_token %}
                       <input class="border-r pull-right" type="submit" value="Check Out" >
                </form>
             </div>
          </div>

        </div><!-- end contract-->
        </div><!-- end contract-->


	<!--end-ckeckout-->
	<!--end-footer-text-->
	<div>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--end-footer-text-->	
{% endblock %}